@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);

.email-signup-thankyou{
  font-family:sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background: #14213D;
  padding:9%;}
  
  .content{
    margin: auto;  /* Magic! */
    max-width:700px;
    color:#14213D;
    box-shadow: 0 3px 6px rgba(0,0,0,0.55), 0 3px 6px rgba(0,0,0,0.23);
    background:url('https://www.crafta.co.il/images/paper-plane.gif') no-repeat #fff;
    background-position: right 5px bottom 5px;
    background-size: 10em;
    text-align:center;
    position: relative;
    padding:8%;
    border-radius:5px;}

    .left-hole,.right-hole{
      position: absolute;
      width:20px; height:20px;
      background:#FCA311;
      border-radius:50%;
      top:15px;
    }
    .left-hole{
      left:15px;
      top:10px;
    }
    .right-hole{
      right:15px;
      top:10px;
    }
    h2,h3{
      text-align:left;
      padding:5% 5% 0% 3%;
      color:#14213D;
      font-weight:900;
    }
    .main-content h1{
       color:#14213D;
        text-transform:uppercase;
        margin-top:-2%;
        font-size:2.5em;
        font-weight:900;
    }
    ul{
        text-align: left;
    }
    .buttons{
        padding-top: 2rem;
        margin-top: 2rem;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    button{
        cursor: pointer;
        color: #14213D;
        background-color: #FCA311;
        font-size: large;
        font-weight: bolder;
        padding: 0.8rem;
        border-radius: 0.8rem;
    }
    button:hover{
        color: #FCA311;
        background-color: #14213D;
    }
