<!DOCTYPE html>
<html lang="en">
  {% load static %}
<head>
    <link rel="stylesheet" href="{% static 'css/about-us.css' %}" type="text/css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/5c49c7b65c.js" crossorigin="anonymous"></script>
    <title>About us | Find Missing Children</title>
</head>
<body>
    <header>
      <h1><i class="fa-solid fa-children fa-lg"></i> About Us</h1>
      </header>
      <div class="main"> 
        <div>
          <h1>Supervisor</h1>
          <h2> MEng. Nawal Ameen Al-Zabin</h2>
        </div>
        <div id="team">
          <h1>Our Team</h1>
          <ul>
            <li>Malak Hasan Mansour - Frontend engineer</li>
            <li>Yousra Majdi Mansour - Backend engineer</li>
            <li>Haneen Adel Sakhrieh - ML engineer</li>
          </ul>
        </div>
        <div id="aim">
          <h1>Our Aim</h1>
          <p>
          <li>Make finding missing children easier by just uploading a picture.</li>
           <li>Building an easy web design for users</li>
           <li>Using fast algorithms to search the pictures database.</li>
           <li>Make use of face recognition by comparing children's pictures</li>
            </p>
        </div>
        <div>
          <h1>Future Work</h1>
          <p>
            <li>Integration with social media and other platforms</li>
            <li>Mobile App</li>
            <li>Integration with government databases</li>
          </p>
        </div>
    </div>
</body>
</html>