<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{% static 'css/after-missing-404.css' %}" type="text/css">
    <title>Not Found</title>
</head>
<body>  
    <div class="header-custom email-signup-thankyou">
        <div class="content">
          <div class="left-hole"></div>
          <div class="right-hole"></div>
          <div class="main-content">
            <h1>We can't find your child, unfortunately!</h1>
            <br>
            <p> We really appreciate you giving us a moment of your serious time.</p>
            <p class="strong"></p>
      
            <h3>Next steps & what to expect:</h3>
            <ul>
              <li>Someone may find the child later</li>
              <li>Expect a call from anyone who find to the child</li>
              <li>Try to contact the police</li>
            </ul>
          </div>
          <div class="buttons">
            <a href="{% url 'home' %}"><button> Back to Home</button></a>
            <a href="{% url 'about_us' %}"><button>Read more About us</button></a>
          </div>
        </div>
      </div>
</body>
</html>