<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{% static 'css/after-missing-sccuess.css' %}" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/5c49c7b65c.js" crossorigin="anonymous"></script>
    <title>We Found the child</title>
</head>
<body>  
    <div class="header-custom email-signup-thankyou">
        <div class="content">
          <div class="left-hole"></div>
          <div class="right-hole"></div>
          <div class="main-content">
            <h1>We found your child, finally!</h1>
            <p> We appreciate you giving us a moment of your serious time, for using our platform to find yor child</p>
            <p class="strong"></p>
            <div class="info">
                <div>
                    <h3>Contact who found your child:</h3>
                    <ul>
                    <li>Name: {{data.person_name}}</li> 
                    <li>Phone:  {{data.phone_number}}</li> 
                    <li>Adress: {{data.address}}</li>
                    </ul>
                </div>
                <div>
                    <img src="{{ data.img.url }}" >
                </div>
            </div>
          </div>
          <div class="buttons">
            <a href="{% url 'home' %}"><button> Back to Home</button></a>
            <button>Read more About us</button>
          </div>
        </div>
      </div>
</body>
</html>