<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/shared-missing-found.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/5c49c7b65c.js" crossorigin="anonymous"></script>
    <title>Found a child?</title>
</head>
<body>
  {% include 'navbar.html' %}
        
  {% block content%}
    <div class="form_wrapper">
          <div class="row">
            <div class="pic" style="background-image: url({% static 'img/found.png' %})">
            </div>
            <div class="right-side">
              <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <h1>Found a child?</h1>
                <div>
                  <div class="active">
                    <div class="input_field"> <span><i aria-hidden="true"></i></span>
                      <input type="text" name="person_name" placeholder="Your Name" /> <span class="hi">*</span>
                    </div>
                  </div>
                  <div class="active">
                    <div class="input_field"> <span><i aria-hidden="true"></i></span>
                      <input type="text" name="child_name" placeholder="Child's Name" required /> <span class="hi">*</span>
                    </div>
                  </div>
                  <div class="col_half">
                    <div class="input_field"> <span><i aria-hidden="true"></i></span>
                      <input type="text" name="phone_number" placeholder="Phone number" required /> <span class="hi">*</span>
                    </div>
                  </div>
                  <div class="col_half">
                    <div class="input_field"> <span><i aria-hidden="true"></i></span>
                      <input type="text" name="address" placeholder="Address" required /> <span class="hi">*</span>
                    </div>
                  </div>
                  <div class="col_half"> <span><i aria-hidden="true"></i></span>
                    <input type="email" name="email" placeholder="Email" />
                  </div>
                  <div>
                    <p>Click on the "Choose File" button to upload a file:</p> 
                        <input type="file" id="myFile" name="file">
                      <span class="hi">*</span>
                  </div>
                  <hr>
                  <input class="button" type="submit" value="Submit">
                </div>
              </form>
            </div>
          </div>
      </div>
 {% endblock content%}
 {% include 'footer.html' %}
</body>
</html>